@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

body{
    font-family: 'Lato', sans-serif;
    background-color: rgb(253, 253, 253);
    margin: 0;
    font-size: 16px;
    color: rgb(70, 70, 70);
}
header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: rgb(214, 214, 214);
    z-index: 3;
    padding: 0.8rem;
    box-shadow: 2px 2px 10px #666;
}

.header__enlaces a{
    color: black;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
}
.header__enlaces a:hover{
    color: rgb(53, 189, 71);
}

.header__iconos a{
    padding-right: 1rem;
}
.iconolui{
    margin-right: 1rem;
}


/* inicio */
.bg{
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    opacity: 0.3;
}
.bg-text{
    position: absolute;
    top: 25%;
    padding-left: 5rem;
    z-index: 2;
    font-style: italic;
}
.bg-text h2{
    font-size: 3rem;
    font-weight: bold;
}
.bg-text h1{
    font-size: 4rem;
    font-weight: bold;
}
.home{
    background-image: url("../images/luis-tri.jpg");
}

/* sobre mi */

.sobre-mi{
    text-align: center;
    padding-top: 4rem;
}

.sobre-mi-text{
    font-size: 1rem;
    text-align: justify;
    font-weight:500;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.8em;
}
.sobre-mi-h1{
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
}

/* desarrollo */

.desarrollo-h1{
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
}
.desarrollo-h2{
    font-weight:800;
    padding-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
    padding-top: 1rem;
}
.desarrollo-text{
    font-size: 1rem;
    text-align: justify;
    font-weight:500;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.8em;
}
.logo-lenguaje{
    height: 5em;
    width: 5em;
}
.logos-lenguajes{
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
}
.lenguajes{
    text-align: center;
    box-shadow: 2px 2px 10px #666;
    padding: 10px;
    border-radius: 5px;
}
.btn{
    background-color: rgb(53, 189, 71);
    color: cornsilk;
}
.btn:hover{
    background-color: cornsilk;
    color: rgb(53, 189, 71);
    border: 2px solid rgb(53, 189, 71);
}
.img-fluid{
    max-height: 12rem; 
    width: auto;
    display:block;
    margin:auto;
}

/* marketing */
.marketing-h1{
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 3rem;
    text-align: center;
    padding-top: 4rem;
}
.marketing-text{
    font-size: 1rem;
    text-align: justify;
    font-weight:500;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    line-height: 1.8em;
}
.tareas{
    padding: 1rem;

}
.logo-mkt{
    width: auto;
    height: 6em;
}
.apartado-mkt{
    text-align: center;
    box-shadow: 2px 2px 10px #666;
    padding: 10px;
    border-radius: 5px;
}
.herramientas-mkt{
    display: flex;
    align-content: center;
    padding-top: 1em;
}
.her-mkt{
    width: auto;
    height: 6em;
}
.herra-mkt{
    text-align: center;
    box-shadow: 2px 2px 10px #666;
    padding: 10px;
    border-radius: 5px;
}
.portfolio-mkt{
    width: 12rem;
    height: 10rem;
    display:block;
    margin:auto;
    box-shadow: 2px 2px 10px #666;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.portfolio-mkt:hover{
    width: 15rem;
    height: 13rem;
    display:block;
    margin:auto;
    box-shadow: 4px 4px 12px rgb(53, 189, 71);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

/* footer */
footer{
    background-color: rgb(214, 214, 214);
    padding-bottom: 1em;
    padding-top: 1em;
    width: 100%;
    font-size: 1rem;
}
.icon-footer{
    margin-right: 1rem;
}
.footer-contacto a{
    color: black;
    text-decoration: none;
}
.footer-contacto a:hover{
    color: black;
    text-decoration: none;
    color:rgb(53, 189, 71);
}


@media (max-width: 1200px){
	body {
		font-size: 16px;
	}
}

@media (max-width: 922px){
	
	body{
		font-size: 14px;
	}
}


@media (max-width: 768px){
    body{
		font-size: 12px;
	}
    header{
        font-size: 12px;
    }
}


@media (max-width: 576px){
	body{
		font-size: 12px;
	}
}


